<!--
  Generated template for the Noticias page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>


 <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>


    <ion-title>Noticias</ion-title>

 <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

 <form id="form1">
            <h2> LOGIN  </h2>
    <label> Username : </label><input type="text" id="usuario" /> <br><br>
    <label> Password : </label> <input type="text" id="contrasena" /> <br>
                <br><input type="button" id="submit" value="Aceptar" /> 
  </form>
</ion-content>
