<!--
  Generated template for the Usuarios page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    

      <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>


  <ion-title>Usuario</ion-title>

 <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content padding>




<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

<ion-list>
  <ion-item *ngFor="let post of posts">
    <ion-thumbnail item-left>
      <img src="http://loremflickr.com/320/240">
    </ion-thumbnail>
    <h2>{{post.name}}</h2>
    <p>{{post.email}}</p>
    <button (click)="onClick(post)">libreria</button>
  </ion-item>
</ion-list>

<button (click)="onClick()">libreria</button>
</ion-content>


