<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Noticias" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Publicaciones" tabIcon="text"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Proyectos" tabIcon="stats"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Usuarios" tabIcon="image"></ion-tab>
</ion-tabs>
