<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <form id="form1">
            <h2> LOGIN  </h2>
    <label> Username : </label><input type="text" id="usuario" /> <br><br>
    <label> Password : </label> <input type="text" id="contrasena" /> <br>
                <br><input type="button" id="submit" value="Aceptar" /> 
  </form>
</ion-content>
